.pr-template {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__steps {
        flex: 0 0 auto;
        margin: 30px 0;
    }
    &-content {
        flex: 1;
    }
}

.pr-template-select-dir {
    margin: 100px 0;
    &__input {
        .ant-input-group-addon {
            padding: 0;
            border: none;
            .ant-btn {
                border-radius: 0;
            }
        }
    }
}

.pr-template-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__main {
        margin-top: 100px;
        width: 80%;
    }
    &__footer {
        text-align: center;
        margin-bottom: 100px;
        .ant-btn {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}