.container {
    min-height: 100vh;
}

.content {
    margin: 10px 0;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.footer {
    flex: 0 0 auto;
    padding: 20px 0;
    text-align: center;
}

.card-icon {
    font-size: 100px;
    text-align: center;
}
