.app-layout {
    height: 100%;
    .app-logo-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        .app-logo {
            width: 60px;
            height: 60px;
            background: url('./logo.svg') center no-repeat;
            background-size: 400%;
            color: #ffffff;
            transition: width .3s ease, height .3s ease;
            &--mini {
                width: 48px;
                height: 48px;
            }
        }
    }
    .app-header {
        background: #ffffff;
        &-collapse-trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
        }
    }
    
    .app-content {
        background: #ffffff;
        margin: 24px 16px;
        padding: 24px;
        min-height: 280px;
    }
}
